<header>
    <h1>Garderoba Folklorne skupine KLOBUK</h1>
    <hr>
    <nav>
        <ul class="header-nav">
            <li id="current-user">
                <span class="label"></span>
                <span class="username"></span>
            </li>
            <img id="logout-icon" src="/images/logout.png" alt="Odjava" title="Odjava">
        </ul>
    </nav>
</header>
